<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h1>Login Page</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username"/> <br/>
    <input type="password" name="password" placeholder="Password"/> <br/>
    <button>Login</button>
</form>
<a href="/oauth2/authorization/google">Login with Google</a>
<a href="/oauth2/authorization/facebook">Login with Facebook</a>
<a href="/oauth2/authorization/naver">Login with Naver</a>
<a href="/joinForm">Register</a>
</body>
</html>

<!--
"/oauth2/authorization/${client-registration-name}"
-> request to authorization-uri

<a href="/oauth2/authorization/naver">Login with Naver</a>
-> request to https://nid.naver.com/oauth2.0/authorize
-->